body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #e8f5e9, #f1f8e9);
    text-align: center;
    margin: 0;
}

.header {
    background: #1b5e20;
    color: white;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 30px auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    margin-bottom: 20px;
}

#preview {
    width: 250px;
    border-radius: 8px;
    margin-top: 10px;
}

button {
    background: #2e7d32;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

.box {
    background: #f1f8e9;
    padding: 15px;
    border-radius: 8px;
}

ul {
    text-align: left;
}
